{% extends '/settings/settings.html.twig' %}
{% trans_default_domain 'settings' %}
{% block body %}
	<div class="col-3">
		<h3>{% trans %}settings.useracc.title{% endtrans %} <button class="float-right btn btn-primary user" data-id="0">{% trans %}settings.useracc.addNew{% endtrans %}</button> </h3>
		<ul class="list-group">
			{% for user in users %}
				<li class="list-group-item user" data-id="{{ user.id }}">{{ user.username }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-6" id="content"></div>
{% endblock %}
{# {% block stylesheets %} #}
{# {% endblock %} #}
{% block javascripts %}
	<script>
		let url_load_edit_user = "{{ url('settings.useracc.ajax') }}"
	</script>
	{{ encore_entry_script_tags('settings') }}
{% endblock %}