.fi {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.fi-sm {
	width: 18px;
	height: 18px;
}

.fi-black {
	stroke: #000;
}

.fi-blue {
	stroke: var(--blue);
}

.fi-indigo {
	stroke: var(--indigo);
}

.fi-purple {
	stroke: var(--purple);
}

.fi-pink {
	stroke: var(--pink);
}

.fi-red {
	stroke: var(--red);
}

.fi-orange {
	stroke: var(--orange);
}

.fi-yellow {
	stroke: var(--yellow);
}

.fi-green {
	stroke: var(--green);
}

.fi-teal {
	stroke: var(--teal);
}

.fi-cyan {
	stroke: var(--cyan);
}

.fi-white {
	stroke: var(--white);
}

.fi-gray {
	stroke: var(--gray);
}

.fi-gray-dark {
	stroke: var(--gray-dark);
}

.fi-primary {
	stroke: var(--primary);
}

.fi-secondary {
	stroke: var(--secondary);
}

.fi-success {
	stroke: var(--success);
}

.fi-info {
	stroke: var(--info);
}

.fi-warning {
	stroke: var(--warning);
}

.fi-danger {
	stroke: var(--danger);
}

.fi-light {
	stroke: var(--light);
}

.fi-dark {
	stroke: var(--dark);
}
