.main {
	height: 100vh;

	& .card {
		padding: 15px;
	}
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #001f6d;
}

.input-group-text {
	width: 130px;
}
