<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Linux Admin Toolbox{% block title %}{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid">
{% if is_granted('ROLE_USER') %}
    {{ include('necessary/navigation.html.twig') }}
{% endif %}
{% block nav %}
{% endblock %}
{% block body %}
    {% if content is defined %}{{ content }}{% endif %}
{% endblock %}
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
