{% extends 'base.html.twig' %}
{% trans_default_domain 'settings' %}
{% block title %} - {% trans %}nav.setting{% endtrans %}{% endblock %}
{% block nav %}

	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link active" href="#">Active</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		</li>
	</ul>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
{#               @TODO insert menu#}
            </div>
            <div class="col-3">
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
{% endblock %}
{#{% block stylesheets %}#}
{#{% endblock %}#}
{#{% block javascripts %}#}
{#{% endblock %}#}