{% extends 'base.html.twig' %}
{% trans_default_domain 'settings' %}
{% block title %} - {% trans %}nav.setting{% endtrans %}{% endblock %}
{% block nav %}
	<div class="col-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link{% if route == 'settings.useracc' %} active{% endif %}" href="{{ url('settings.useracc') }}">{% trans %}useracc{% endtrans %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{% if route == 'settings.linuxacc' %} active{% endif %}" href="{{ url('settings.linuxacc') }}">{% trans %}linuxacc{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}
{% block body %}
	<div class="col-9">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">{{ route }}
				</div>
				<div class="col-3">
				</div>
				<div class="col-6">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{# {% block stylesheets %} #}
{# {% endblock %} #}
{# {% block javascripts %} #}
{# {% endblock %} #}